/* minimalist css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styling */
.meme-entry {
  background-color: cornflowerblue;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding-top: 40px;
  font-size: 72px;
}

h2 {
  font-size: 20px;
  padding-bottom: 40px;
}

form.meme-entry-form {
  display: table;
  margin: 0 auto;
  text-align: center;
}

div.form-field {
  display: table-row;
}

label,
input {
  display: table-cell;
  margin-bottom: 10px;
}

input {
  width: 100%;
}

.meme-entry-form {
  width: 60%;
}


.meme {
  min-height: 250px;
  min-width: 250px;
  background-color:aliceblue;
  margin: 5px;
}

#meme-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  width: 100vw;
  height: 100%;
  background-color: blue;
}

