/* minimalist css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Styling */
.meme-entry {
  background-color: cornflowerblue;
}

h1,
h2 {
  text-align: center;
}

h1 {
  padding-top: 40px;
  font-size: 72px;
}

h2 {
  font-size: 20px;
  padding-bottom: 40px;
}

#meme-entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  width: 600px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.form-field > label {
  text-align: left;
  min-width: 20%;
}
.form-field > input {
  min-width: 80%;
}

.button-container {
  min-width: 20%;
}

#submit-button {
  width: 100%;
  height: 25px;
  border-radius: 15px;
}

#meme-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

.meme {
  max-height: 500px;
  max-width: 500px;
  position: relative;
  text-align: center;
  /* border: 1px solid red; */
  overflow: hidden;
  border-radius: 15px;
  margin: 10px;
  flex-grow: 1;
}

.meme > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 32px;
  font-weight: 900;
}

.bottom-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 32px;
  font-weight: 900;
}

.delete-image-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.meme:hover .delete-image-wrapper {
  visibility: visible;
  opacity: 1;
}

.delete-image-text {
  transition: .2s;
  transform: translateY(1em);
}

.meme:hover .delete-image-text {
  transform: translateY(0);
}

